h1 {
  color: Purple;
  text-align: center;
  font-size: 75px;
}
h2 {
  text-align: center;
}
p {
  text-align: center;
}
p1 {
  text-align: center;
}
.centerimage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
button {
  border: none;
  background-color: LightBlue;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
}
button1 {
  border: none;
  background-color: Red;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
}
button2{
  border: 10px solid grey;
  padding: 20px 20px;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: auto;
}
.boxed {
  border: 5px solid Lavender ;
  border-radius: 20px ;
  font-size: 24px;
  text-align: center;
  padding: 16px 32px;
  width: 300px;
  margin: auto;
}
.boxed1 {
  border: 5px solid Lavender ;
  border-radius: 20px ;
  font-size: 24px;
  text-align: center;
  padding: 16px 32px;
  width: 300px;
  margin: auto;
}
label {
  margin: auto;
}
.text {
  margin: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 1000px 100px;
  padding: 10px;
}
.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
  